:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
/* Start Box  */
.d-grid {
    display: grid;
}
.d-inline-block {
    display: inline-block;
}
.d-block {
    display: block;
}
.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.justify-end {
    justify-content: flex-end;
}
.gap-5 {
    gap: 5px;
}
.gap-10 {
    gap: 10px;
}
.gap-20 {
    gap: 20px;
}
.grow-1 {
    flex-grow: 1;
}
.grow-2 {
    flex-grow: 2;
}
.wrap {
    flex-wrap: wrap;
}
.appearance-none {
    appearance: none;
}
@media (max-width: 767px) {
    .hide-mobile {
        display: none;
    }
    .block-mobile {
        display: block;
    }
    .wrap-mobile {
        flex-wrap: wrap;
    }
}
/* End Box  */
/* Start Width + Height */
.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
.w-fit {
    width: fit-content;
}
.flow-hidden {
    overflow: hidden;
}
/* End Width + Height */
/* Start Padding + Margin  */
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px
}
.p-20 {
    padding: 20px
}
.pt-10 {
    padding-top: 10px
}
.pt-15 {
    padding-top: 15px
}
.pt-20 {
    padding-top: 20px
}
.pr-15 {
    padding-right: 15px
}
.pb-10 {
    padding-bottom: 10px;
}   
.pb-15 {
    padding-bottom: 15px;
}
.pb-20 {
    padding-bottom: 20px
}
.pb-30 {
    padding-bottom: 30px
}
.pl-10 {
    padding-left: 10px
}
.pl-15 {
    padding-left: 15px
}
.pl-20 {
    padding-left: 20px
}
.pl-30 {
    padding-left: 30px;
}
.m-0 {
    margin: 0;
}   
.m-15 {
    margin: 15px
}
.m-20 {
    margin: 20px
}
.mt-5 {
    margin-top: 5px
}
.mt-10 {
    margin-top: 10px
}
.mt-15 {
    margin-top: 15px
}
.mt-20 {
    margin-top: 20px
}
.mt-25 {
    margin-top: 25px;
}
.mr-10 {
    margin-right: 10px
}
.mr-15 {
    margin-right: 15px;
}
.mr-20 {
    margin-right: 20px
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px
}
.mb-30 {
    margin-bottom: 30px
}
.ml-5 {
    margin-left: 5px;
}
.ml-20 {
    margin-left: 20px;
}
.m-auto {
    margin: auto;
}
.ml-auto {
    margin-left: auto;
}

/* End Padding + Margin  */
/* Start Color */
.bg-white {
    background-color: white;
}
.bg-eee {
    background-color: #eee
}
.bg-grey {
    background-color: var(--grey-color)
}
.bg-green {
    background-color: var(--green-color)
}
.bg-red {
    background-color: var(--red-color)
}
.bg-blue {
    background-color: var(--blue-color)
}
.bg-orange {
    background-color: var(--orange-color)
}
.bg-blue-alt {
    background-color: var(--blue-alt-color)
}
.bg-blue-opacity {
    background-color: hsla(212, 100%, 50%, 0.199);
}
.bg-green-opacity {
    background-color: rgba(34, 197, 94, 0.199);
}
.bg-orange-opacity {
    background-color: rgb(245 158 11 / 20%);;
}
.bg-red-opacity {
    background-color: rgba(244, 67, 54, 0.199);
}

.c-black {
    color: black;
}
.c-white {
    color: white;
}
.c-grey {
    color: var(--grey-color);
}
.c-blue {
    color: var(--blue-color);
}
.c-green {
    color: var(--green-color);
}
.c-orange {
    color: var(--orange-color);
}
.c-red  {
    color: var(--red-color);
}
/* End Color */
/* Start Position */
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}
/* End Position */
/* Start Font  */
.txt-c {
    text-align: center;
}
.txt-r {
    text-align: right;
}
.fs-12 {
    font-size: 12px
}
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.f-bold {
    font-weight: bold;
}
.f-normal {
    font-weight: normal;
}
.resize-none {
    resize: none;
}
.line-height {
    line-height: 1.6;
}
.txt-upper {
    text-transform: uppercase;
}
@media (max-width: 767px) {
    .txt-c-mobile {
        text-align: center;
    }
}
/* End Font  */
/* Start Border  */
.rad-6 {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.rad-half {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.border-ccc {
    border: 1px solid #ccc;
}
.border-eee {
    border: 1px solid #eee;
}
.border-t-eee {
    border-top: 1px solid #eee;
}
.border-b-eee {
    border-bottom: 1px solid #eee;
}
.border-none {
    border: none;
}
/* End Border  */
/* Start Component */
.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-style {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px,1fr));
    margin: 20px;
    gap: 20px;
}
.grid-style-2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    margin: 20px;
    gap: 20px;
}
@media (max-width: 767px) {
    .grid-style-mobile {
        display: grid;
        grid-template-columns: minmax(200px,1fr);
        margin: 10px;
        gap: 10px;
    }
}
.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
/* Start Component */
/* Start Animation + Transition + Effect*/
.pointer {
    cursor: pointer;
}
.main-transition {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
/* End Animation + Transition */
